<div [ngClass]="{'accepted': element.accepted}">
	<button *ngIf="!element.accepted && connected._id ===  winner._id" class="delete" (click)="deleteElement($event)" i18n="delete button" >delete</button>
	<a *ngIf="!element.accepted && connected._id ===  winner._id" class="update" [routerLink]="['/bet/',element._id]"  i18n="update button">update</a>
	<button *ngIf="!element.accepted && connected._id ===  winner._id" class="accept" (click)="accepteBet()" i18n="delete button" >accept</button>
	<span *ngIf="element.accepted" class="accept">accepté</span>

	<h1>{{element.title}}</h1>
	<p>{{element.issues}}</p>
	<div class="participants">
		<span class="winner">gagnant : {{winner.displayName}}</span>
		<span class="looser">perdant : {{looser.displayName}}</span>
	</div>
	<div class="images">
		<div *ngIf="!element.accepted">
			<input id="file_{{element._id}}" name="file_{{element._id}}" type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />
			<label for="file_{{element._id}}"> </label>
		</div>
		<div *ngIf="element.files.length ===0 ">
			Aucun fichier.
		</div>
		<div class="image" *ngFor="let file of element.files" >
			<img [src]="photoURL(file.href)" />
			<button *ngIf="!element.accepted" class="delete" (click)="deleteImage($event, file)">delete</button>
		</div>
	</div>
	
</div>