
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import '../themes';

:host > div{ 	
	background-color: $primary-color;
	padding: 10px;
	margin: 10px;
	position: relative;
	border-radius: 5px;
	h1{
		font-family: BaroqueScriptRegular;
		color: $secondary-color; 
		text-shadow: 1px 1px #000, -1px 1px #000, -1px -1px #000, 1px -1px #000;
		margin:0px;
	}

	.actions{
		text-align: right;
		button{
			border-color: #000;
			color: $primary-color;
			background-color: $secondary-color;
			padding: 10px;
			border-radius: 20px;
			text-shadow: 1px 1px #000, -1px 1px #000, -1px -1px #000, 1px -1px #000;
			font-family: BaroqueScriptRegular;
			&::before{
				margin-right: 10px;
			}
		}
	}
	p{
		width: 75%;
		display: inline-block;
		vertical-align: top;
	}
	.participants{
		float: right;
		.winner, .looser{
			display: block;
		}
	}
	.bet-card.proposed.applicant, .bet-card.acquitted{
		opacity: 0.5;
	}

	.participants > span{
		display: none;
	}
	.bet{
		& > div{
			width: 49%;
			display: inline-block;
		}
	}
	files-uploader{
		margin-top: 20px;
		margin-bottom: 10px;
		display: inline-block;;
	}

	
	.participants display-user{
		display: inherit !important;
		
	}
	.proposed.applicant{
		.participants display-user.applicant{
			display: none !important;
		}
	}
	.proposed.acceptor{
		.participants display-user.acceptor{
			display: none !important;
		}
	}
}

/* positionning of picture */
display-user{
	position: absolute;
	top: 0px;
	right: 0;

}

$accepted_size:90px;
$accepted_offet: 25px;
$corner_offset: 3px;
$winner_offset: 5px;

.proposed{
	display-user{
		
		width: $accepted_size;
		height: $accepted_size;
		top: $corner_offset;
		right: $corner_offset;
		@extend .fa;
		@extend .fa-fire;
		&::before{
			color: red;
			font-size: 2em;
			position: absolute;
			right: 12px;
			top: 5px;
			z-index: 999;
		}
		
	}
	display-user.acceptor::before{
		color: white;
	}
}
.accepted{
	display-user{
		width: $accepted_size;
		height: $accepted_size;
		top: $corner_offset;
		right: $corner_offset;
		&.applicant{
			right: $accepted_size - $accepted_offet +$corner_offset;
			&::after{
				position: absolute;
				content: 'vs';
				right: - $accepted_offet/2+$corner_offset;
				bottom: - $accepted_size/2+$corner_offset;
				font-family: BaroqueScriptRegular;
				color: $primary-color; 
				text-shadow: 1px 1px #000, -1px 1px #000, -1px -1px #000, 1px -1px #000;
				font-size: 3em;
				line-height: 300%;
				z-index: 999;
			}
		}
		&.acceptor{
			top: $accepted_size - $accepted_offet;
			right: $corner_offset;
			
		}
	}
}

.played, .acquitted{
	display-user{
		top: $corner_offset;
		right: $corner_offset;
		&.applicant{
			right: $accepted_size - $accepted_offet +$corner_offset;
		}
		&.acceptor{
			top: $accepted_size - $accepted_offet;
			right: $corner_offset;	
		}
		&.winner{
			width: $accepted_size + $winner_offset;
			height: $accepted_size + $winner_offset;
			z-index: 50;
		}
		&.looser{
			width: $accepted_size - $winner_offset;
			height: $accepted_size - $winner_offset;
			z-index: 40;
		}
	}
}

@media all and (max-width: 768px){
	:host > div{
		.participants{
			float: none;
			position: relative;
			height: $accepted_size*2;
			width: $accepted_size*2 - $accepted_offet ;
			margin: auto;
		}
		.proposed .participants{
			height: $accepted_size;
			width: $accepted_size;
		}
	}
}