
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import '../themes';

:host > div{ 	
	background-color: $primary-color;
	padding: 10px;
	margin: 10px;
	position: relative;
	border-radius: 5px;
	h1{
		font-family: BaroqueScriptRegular;
		color: $secondary-color; 
		text-shadow: 1px 1px #000, -1px 1px #000, -1px -1px #000, 1px -1px #000;
		margin:0px;
	}

	.actions{
		text-align: right;
		button{
			border-color: #000;
			color: $primary-color;
			background-color: $secondary-color;
			padding: 10px;
			border-radius: 20px;
			text-shadow: 1px 1px #000, -1px 1px #000, -1px -1px #000, 1px -1px #000;
			font-family: BaroqueScriptRegular;
			&::before{
				margin-right: 10px;
			}
		}
	/*	button.accept{
			@extend .fa;
			@extend .fa-check-circle;
			
		}
		button.reject{
			@extend .fa;
			@extend .fa-close;
		}
		button.win{
			@extend .fa;
			@extend .fa-smile-o;
			
		}
		button.loose{
			@extend .fa;
			@extend .fa-frown-o;
			
		}*/
	}
	p{
		width: 75%;
		display: inline-block;
		vertical-align: top;
	}
	.participants{
		float: right;
		.winner, .looser{
			display: block;
		}
	}
	.bet-card.proposed.applicant, .bet-card.acquitted{
		opacity: 0.5;
	}

	.proposed.applicant, .accepted.applicant{
		.participants > .applicant{
			display: none;
		}
	}
	.proposed.acceptor, .accepted.acceptor{
		.participants > .acceptor{
			display: none;
		}
	}
	.bet{
		& > div{
			width: 49%;
			display: inline-block;
		}
	}
	files-uploader{
		margin-top: 20px;
		margin-bottom: 10px;
		display: inline-block;;
	}

	
}
