<div [ngSwitch]="element.status">

	<!-- card for proposed status -->
	<div *ngSwitchCase="'proposed'" [ngClass]="{'acceptor': connected?._id ===  acceptor?._id, 'applicant': connected?._id !==  acceptor?._id}" class="bet-card proposed" >
		<h1>{{element.title}}</h1>
		<p>{{element.victoriesConditions}}</p>
		<div class="participants">
			<span class="applicant">Proposé par {{applicant?.displayName}}</span>
			<span class="acceptor">Proposé à {{acceptor?.displayName}}</span>
		</div>

		<div class="bet">
			<div class="applicant">
				<h2>Enjeux de {{applicant?.displayName}}</h2>
				{{element.applicantBet}}
			</div>
			<div class="acceptor">
				<h2>Enjeux de {{acceptor?.displayName}}</h2>
				{{element.acceptorBet}}
			</div>
		</div>

		<section class="actions">
			<button *ngIf="connected && connected?._id ===  acceptor?._id" class="reject" (click)="rejectBet()" >rejeter le pari</button>
			<button *ngIf="connected && connected?._id ===  acceptor?._id" class="accept" (click)="acceptBet()" >accepter le pari</button>
		</section>
	</div>

	<!-- card for accepted status -->
	<div *ngSwitchCase="'accepted'" [ngClass]="{'acceptor': connected?._id ===  acceptor?._id, 'applicant': connected?._id !==  acceptor?._id}" class="bet-card accepted">
		<h1>{{element.title}}</h1>
		<p>{{element.victoriesConditions}}</p>
		<div class="participants">
			<span class="applicant">En fight avec {{applicant?.displayName}}</span>
			<span class="acceptor">En fight avec {{acceptor?.displayName}}</span>
		</div>

		<div class="bet">
			<div class="applicant">
				<h2>Enjeux de {{applicant?.displayName}}</h2>
				{{element.applicantBet}}
			</div>
			<div class="acceptor">
				<h2>Enjeux de {{acceptor?.displayName}}</h2>
				{{element.acceptorBet}}
			</div>
		</div>

		<section class="actions">
			<button *ngIf="connected" class="loose" (click)="iLoose()" >J'ai perdu</button>
			<button *ngIf="connected" class="win" (click)="iWin()" >J'ai gagné</button>
		</section>			
	</div>


	<!-- card for played status -->
	<div *ngSwitchCase="'played'"  [ngClass]="{'acceptor': connected?._id ===  acceptor?._id, 'applicant': connected?._id !==  acceptor?._id, 'winner': connected?._id ===  winner?._id, 'looser': connected?._id ===  looser?._id}" class="bet-card played">			
		<h1>{{element.title}}</h1>
		<div class="result">
			<span *ngIf="connected?._id ===  winner?._id"> 
					"{{looser?.displayName}}" te doit "
					<span *ngIf="acceptor?._id !==  winner?._id">{{element.acceptorBet}}</span>
					<span *ngIf="applicant?._id !==  winner?._id">{{element.applicantBet}}</span>
					"
			</span>
			<span *ngIf="connected?._id !==  winner?._id"> 
					Tu dois "
					<span *ngIf="acceptor?._id !==  winner?._id">{{element.acceptorBet}}</span>
					<span *ngIf="applicant?._id !==  winner?._id">{{element.applicantBet}}</span>
					" à  "{{winner?.displayName}}"
			</span>
		</div>

		<files-uploader [list]="element.files" [endpoint]="endpoint"></files-uploader>
		<section class="actions">
			<button *ngIf="connected && connected?._id ===  winner?._id" class="acquitted" (click)="acquitteBet()" >Pari acquité</button>
		</section>

		
			
	</div>


	<!-- card for acquitted status -->
	<div *ngSwitchCase="'acquitted'" class="acquitted bet-card">
		<h1>{{element.title}}</h1>
		<div class="result">
			<span *ngIf="connected?._id ===  winner?._id"> 
					Tu as gagné "
					<span *ngIf="acceptor?._id !==  winner?._id">{{element.acceptorBet}}</span>
					<span *ngIf="applicant?._id !==  winner?._id">{{element.applicantBet}}</span>
					" face à "{{looser?.displayName}}"
			</span>
			<span *ngIf="connected?._id !==  winner?._id"> 
					Tu as perdu "
					<span *ngIf="acceptor?._id !==  winner?._id">{{element.acceptorBet}}</span>
					<span *ngIf="applicant?._id !==  winner?._id">{{element.applicantBet}}</span>
					" face à "{{winner?.displayName}}"
			</span>
		</div>
			
		<files-uploader [list]="element.files" [readonly]="true" [endpoint]="endpoint"></files-uploader>

	</div>


	<div *ngSwitchDefault>default</div>
</div>


